.s-possibility {
  padding-top: 68px;
  padding-bottom: 58px;

  background-image: url("../img/possibility-bg.png");
  background-repeat: no-repeat;
  background-position: center 277px;
  background-size: 30%;

  &__row {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    margin-bottom: 21px;
    color: #3b02ba;
  }

  &__section-descr {
    width: 580px;
    margin-bottom: 76px;
  }
}
