.s-possibility {
  padding-top: 68px;
  padding-bottom: 58px;

  background-image: url("../img/possibility-bg.png");
  background-repeat: no-repeat;
  background-position: center 277px;
  background-size: 30%;

  @include md-block() {
    padding-top: 38px;
    padding-bottom: 28px;
  }

  @include md-block() {
    background-image: none;
  }

  &__row {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    margin-bottom: 21px;
    color: #3b02ba;
  }

  &__section-descr {
    width: 100%;
    max-width: 580px;
    margin-bottom: 76px;

    @include md-block() {
      max-width: 100%;
      margin-bottom: 46px;
    }
  }
}
