.s-price {
  position: relative;
  padding-top: 34px;
  padding-bottom: 116px;

  background-color: #6738d3;
  background-image: url("../img/price-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  overflow: hidden;

  @include md-block() {
    padding-bottom: 40px;
  }

  &__row {
    @include row-flex();

    @include md-block() {
      margin-top: 20px;
    }
  }

  &__col {
    @include col();
    @include size(3);
    @include size-xl(6);
    @include size-xs(12);

    @include xl-block() {
      margin-bottom: 20px;
    }

    @include md-block() {
      margin-bottom: 20px;
    }
  }

  &__title {
    margin-bottom: 24px;

    @include md-block() {
      margin-bottom: 0;
    }
  }

  &__download {
    position: relative;
    padding-right: 20px;
    font-weight: 400;
    font-size: 24px;
    color: #ffffff;

    transition: $base-transition;

    svg {
      position: absolute;
      top: 8px;
      right: 0;
    }

    &:hover {
      color: #ffbd28;

      svg {
        path {
          stroke: #ffbd28;
        }
      }
    }

    @include sm-block() {
      padding-right: 0;
      font-size: 16px;

      svg {
        display: none;
      }
    }
  }
}
