.footer {
  padding-top: 127px;
  padding-bottom: 30px;

  background-image: url("../img/footer-bg.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
