.s-partnership {
  padding-top: 49px;
  padding-bottom: 272px;

  background-image: url("../img/partnership-bg.png");
  background-repeat: no-repeat;
  background-position: 962px 68px;
  background-size: 33%;

  &__title {
    margin-bottom: 21px;
    color: #3b02ba;
  }

  &__section-descr {
    width: 100%;
    max-width: 600px;
    margin-bottom: 23px;
  }
}
