.header {
  position: fixed;
  z-index: 3;
  width: 100%;
  padding: 14px 0;

  transition: all 0.3s linear;

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
